@import url('https://fonts.googleapis.com/css?family=Special+Elite');
body{
	font-family: 'Special Elite', cursive;
	font-size: 40px;
}

.jumbotro{
	border-radius: 0px !important;
}

.float--right{
	float: right;
}

.fundo--cor{
	background-color: green; 
}

.gradiente{
	background-image: linear-gradient(to left, #0000FF, #00BFFF);
}